@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	padding: 10px;
}

h2 {
	padding: 10px;
}

h2>div {
	margin-right: 10px;
	display: inline-block;
	background: #ff6000;
	border: 2px solid #b74500;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px 2px;
}

h2>div>i {
	display: inline-block;
	color: white;
}

hr {
	color: #c2c2c2;
}

#container {
	padding: 30px;
}

#container>table {
	table-layout: fixed;
	border-collapse: collapse;
	border-top: 2px solid #ff6000;
	width: 100%
}

#container>table th {
	background: #f4f4f4;
	border: 1px solid #c8c8c8;
	padding: 10px;
}

#container>table td {
	border: 1px solid #c8c8c8;
	padding: 10px;
	text-align: center;
}

#container>table tr:nth-child(2)>td {
	text-align: left;
}

#container>table tr:nth-child(3)>td {
	text-align: left;
}

#container>table tr:nth-child(3)>td>p {
	width: 100%;
}

#container>div {
	padding: 10px 0 10px 10px;
	display: flex;
	justify-content: flex-end;
}

#container>div>div {
	cursor: pointer;
	padding: 5px;
	background: #ff6000;
	color: white;
	border: 2px solid #b74500;
	border-radius: 5px;
	font-weight: bold;
}

#container>div>div>i {
	margin-right: 5px;
}
#container > table td > input[type=text] {
	width: 100%;
}
#container > div > div:nth-child(1) {
	margin-right: 10px;
}
#texarea {
	width: 100%;
	height: 100%;
}